<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{% if title %}{{title}} | {% endif %}Renzo Lucioni</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description | default: "Renzo Lucioni's personal website. Writing about past projects, fun problems, and data visualization." }}">

    <link rel="stylesheet" href="{% cssPath %}">
    <link rel="stylesheet" href="{% cssPathVendor %}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.1.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.1.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.1.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.1.svg" color="#272822">
    <link rel="shortcut icon" href="/favicon.1.ico">
    <meta name="msapplication-TileColor" content="#272822">
    <meta name="theme-color" content="#272822">

    {% if site.googleAnalyticsID %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.googleAnalyticsID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.googleAnalyticsID }}');
    </script>
    {% endif %}
  </head>
  <body>
    <header id="header">
      <div>
        <a href="/">Renzo Lucioni</a>
      </div>
      <nav>
        <a href="/about">About</a>
        <a href="https://github.com/rlucioni">GitHub</a>
      </nav>
    </header>

    <script defer src="{% jsPathVendor %}"></script>
    <script defer src="{% jsPath %}"></script>

    <div id="main">
      {{ content }}
    </div>
  </body>
</html>
